/.idea/*
/.run/
/.gradle/
/projects/*
!/projects/cleanroom/
!/projects/minecraft/
!/projects/mcp/
!/projects/spigot-bridge/
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/out/
/logs/
build/
version.txt
src/main/java/com/cleanroommc/common/CleanroomVersion.java

!/.idea/icon.svg
/TODO.md
